In [2]:
import pandas as pd
import numpy as np
import datetime # datetime preprocessing
import time
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
from math import ceil 
plt.rcParams['figure.figsize'] = [16, 10]
import gc
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans
import warnings
import gc
from tqdm import tqdm

warnings.filterwarnings("ignore")

In [5]:
##################################
# loading data
##################################
s = time.time()
train = pd.read_csv('../input/train.csv.gz', compression='gzip', dtype={'ProductID': str})
test = pd.read_csv('../input/test.csv.gz', compression='gzip', dtype={'ProductID': str})

# # ProductID Cleaning
# train['ProductID'] = train.ProductID.map(str)
# train['ProductID'] = train.ProductID.apply(lambda x: '055649' if x == '55649' else x)
# test['ProductID'] = test.ProductID.map(str)
# test['ProductID'] = test.ProductID.apply(lambda x: '055649' if x == '55649' else x)

# # convert query_datetime(str type) column to datetime type
# train['query_datetime'] = pd.to_datetime(train.query_datetime)
# test['query_datetime'] = pd.to_datetime(test.query_datetime)

e = time.time()
print (e - s)

225.35456204414368

In [12]:
train.head()

,id,label,CustomerID,query_datetime,ProductID
0,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 14:24:28,7acab3
1,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 14:24:40,7acab3
2,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 17:47:16,7acab3
3,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 17:47:24,7acab3
4,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 20:33:11,7acab3

# 此程式中消費者的重疊時間

# 此消費者使用多少個不同裝置？

# 此消費者使用多少個程式？

# 計算每個消費者花多少時間在程式上面

In [42]:
def product_one_hot_encoding(x):
    '''
    make ProductID become one-hot encoding form
    
    parameters:
    --------
    x: DataFrame
    '''    
    new_dataframe = {}
    for col in x.columns:
        #print (x[col].sum())
        new_dataframe[col] =[1 if i > 0 else 0 for i in [x[col].sum()] ] 
    return  pd.DataFrame(new_dataframe)

#使用者都用什麼裝置來登入可疑程式的
df4 = pd.get_dummies(df_all.head(n = 1000).set_index('CustomerID'), columns=['ProductID'])
df4 = df4.drop(['id','query_datetime'], axis = 1)
df4 = df4.groupby('CustomerID').apply(product_one_hot_encoding).reset_index().drop('level_1',axis= 1)
df4.info()

df4.info()
# col = df4.columns.tolist()[1:]
# n_components = 10
# pca = PCA(n_components = n_components).fit(df4[col])
# print (pca.explained_variance_ratio_.cumsum()[-1])
# output = []
# for i in range(n_components):
#     df4['pca{}'.format(i)] = pca.transform(df4[col])[:, i]
#     output.append('pca{}'.format(i))
    
# df4 = df4[output]
# df4

100%|██████████| 7/7 [00:00<00:00, 3181.64it/s]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
CustomerID          365 non-null object
ProductID_055649    365 non-null int64
ProductID_3ea8c3    365 non-null int64
ProductID_634e6b    365 non-null int64
ProductID_7acab3    365 non-null int64
ProductID_c105a0    365 non-null int64
ProductID_c76d58    365 non-null int64
dtypes: int64(6), object(1)
memory usage: 20.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
CustomerID          365 non-null object
ProductID_055649    365 non-null int8
ProductID_3ea8c3    365 non-null int8
ProductID_634e6b    365 non-null int8
ProductID_7acab3    365 non-null int8
ProductID_c105a0    365 non-null int8
ProductID_c76d58    365 non-null int8
dtypes: int8(6), object(1)
memory usage: 5.1+ KB

In [79]:
customer_info = pd.merge(pd.read_csv('../input/customer_info1.csv.gz',compression='gzip'),
                        pd.read_csv('../input/customer_info2.csv.gz',compression='gzip'), on = 'CustomerID', how = 'left'
)
col = customer_info.columns.tolist()[1:]
#make k-mean efficient
pca = PCA().fit(customer_info[col])
customer_info['pca0'] = pca.transform(customer_info[col])[:, 0]
customer_info['pca1'] = pca.transform(customer_info[col])[:, 1]
customer_info['pca2'] = pca.transform(customer_info[col])[:, 2]
#clustering
for i in [2,3,4]:
    kmeans = MiniBatchKMeans(n_clusters = i, batch_size=10000).fit(customer_info[['pca0','pca1','pca2']])
    customer_info['user_cluster_{}'.format(i)] = kmeans.predict(customer_info[['pca0','pca1','pca2']])
#
customer_info = customer_info[['CustomerID','user_cluster_2','user_cluster_3','user_cluster_4']]
print (customer_info.shape)
customer_info.head()
customer_info.info()

(5539312, 4)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5539312 entries, 0 to 5539311
Data columns (total 4 columns):
CustomerID        object
user_cluster_2    int32
user_cluster_3    int32
user_cluster_4    int32
dtypes: int32(3), object(1)
memory usage: 147.9+ MB

In [81]:
customer_info.head()

,CustomerID,user_cluster_2,user_cluster_3,user_cluster_4
0,0000006fa286976bf35ea17f1f19bc7a,0,0,0
1,00000145d9062eada528bace5fb4864e,0,0,0
2,000003d77bee692d83b7b83fdba60d3d,0,0,0
3,00000aea7887eaf96dbd022025e426fd,0,0,0
4,0000109c46b9b8922f1ce2aaa684442f,0,0,0

In [104]:
train.drop(['label','query_datetime','ProductID'], axis = 1, inplace = True)

In [105]:
train.head()

                                 id                        CustomerID
0  0000e2398b12121a85166fed5fe2a3da  40664c284a10689448522bbae43c3d6f
1  0000e2398b12121a85166fed5fe2a3da  40664c284a10689448522bbae43c3d6f
2  0000e2398b12121a85166fed5fe2a3da  40664c284a10689448522bbae43c3d6f
3  0000e2398b12121a85166fed5fe2a3da  40664c284a10689448522bbae43c3d6f
4  0000e2398b12121a85166fed5fe2a3da  40664c284a10689448522bbae43c3d6f

In [110]:
def preprocess(x):
    '''
    Gro CustomerI become one-hot encoding form
    
    parameters:
    --------
    x: DataFrame
    '''    
    x = x.drop_duplicates('CustomerID')
    new_dataframe = {}
    for col in x.columns.tolist()[2:]:
        if x[col].sum() > 0:
            count = 1
        else:
            count = 0
        new_dataframe[col] = count
    new_dataframe['id'] = x.id 
    
    return pd.DataFrame(new_dataframe)
def num_user_count_in_cluster(x):
    '''
    num-user_cluster_2_0: 把使用者分兩群, 使用者屬於第一群的人數。
    num-user_cluster_2_1: 把使用者分兩群, 使用者屬於第二群的人數。
    
    parameters:
    --------
    x: DataFrame
    '''    
    new_dataframe = {}
    for col in x.columns.tolist()[1:]:
        new_dataframe[col] = [x[col].sum()]
    return pd.DataFrame(new_dataframe).add_prefix('num-')

s = time.time()
df = pd.merge(train.head(n = 10000), customer_info, on = 'CustomerID', how = 'left')
df = pd.get_dummies(df, columns=['user_cluster_2','user_cluster_3'])

df = df.groupby(['id','CustomerID']).apply(preprocess).drop('id', axis = 1) \
.reset_index().drop(['level_2','CustomerID'], axis = 1) \
.groupby('id').apply(num_user_count_in_cluster).reset_index().drop('level_1', axis = 1)
e = time.time()
print (e-s)

23.149643182754517

In [88]:
df.head()

,id,num-user_cluster_2_0,num-user_cluster_2_1,num-user_cluster_3_0,num-user_cluster_3_1,num-user_cluster_3_2,num-user_cluster_4_0,num-user_cluster_4_1,num-user_cluster_4_2,num-user_cluster_4_3
0,0000e2398b12121a85166fed5fe2a3da,3,0,3,0,0,2,0,1,0
1,0001fe8dce14ce099aa6ca8ea5026ea7,229,5,232,0,2,225,0,9,0
2,00027f50019000accc492e5684efc818,21,1,21,1,0,20,0,1,1
3,00028c9da3573ec50db74b44310ae507,84,23,103,1,3,56,1,49,1

In [95]:
train.shape[0] / 1000 * 3.4843170642852783 / 60 / 60

52.50695955421031

In [111]:
s = time.time()
df = pd.merge(train.head(n = 10000), customer_info, on = 'CustomerID', how = 'left')
df = pd.get_dummies(df, columns=['user_cluster_2','user_cluster_3','user_cluster_4'])
df = df.drop_duplicates('CustomerID').groupby('id').apply(num_user_count_in_cluster).reset_index().drop(['num-CustomerID','level_1'], axis = 1)
e = time.time()
print (e-s)
df

2.2396631240844727

,id,num-user_cluster_2_0,num-user_cluster_2_1,num-user_cluster_3_0,num-user_cluster_3_1,num-user_cluster_3_2,num-user_cluster_4_0,num-user_cluster_4_1,num-user_cluster_4_2,num-user_cluster_4_3
0,0000e2398b12121a85166fed5fe2a3da,3,0,3,0,0,2,0,1,0
1,0001fe8dce14ce099aa6ca8ea5026ea7,229,5,232,0,2,225,0,9,0
2,00027f50019000accc492e5684efc818,21,1,21,1,0,20,0,1,1
3,00028c9da3573ec50db74b44310ae507,90,22,109,0,3,62,1,49,0
4,0003dc8130969abe688cadf5f14ea19f,116,13,127,0,2,102,1,26,0
5,000462baadff8a02f7f6fef84d242eed,4,8,11,1,0,1,0,10,1
6,0005e4c0263f52453438ddd0d55aef82,12,0,12,0,0,9,0,3,0
7,0006ac9aadbdbf2fed5e62b4e463daa1,14,4,17,0,1,12,1,5,0
8,0006d16543c1c4866dfa59fbbf7eedab,228,56,272,0,12,164,3,117,0
9,0007819a84e047a78fbbd620557104ad,51,7,57,0,1,35,0,23,0
10,0008720f6bfadf1aa4039a856eef3ecb,30,1,31,0,0,25,0,6,0
11,000a00e6939f803bbf4aaf51b39048d0,151,0,151,0,0,151,0,0,0
12,000b4096d7a0962245181f01e002b203,500,32,526,1,5,462,4,65,1
13,000d282c41fc76964cdc31b805c464a7,863,46,897,2,10,809,5,93,2
14,000d409d670038a868ed471a8334345d,4319,304,4545,1,77,4051,37,534,1

In [112]:
train.shape[0] / 10000 * 2.3631742000579834 / 60 / 60

3.5611883147451286

In [3]:
customer_info = pd.merge(pd.read_csv('../input/customer_info1.csv.gz',compression='gzip'),
                        pd.read_csv('../input/customer_info2.csv.gz',compression='gzip'), on = 'CustomerID', how = 'left'
)

In [4]:
customer_info

,CustomerID,num_device_user_used,num_computer_program_user_used,spent_time_on_programe_in_sec
0,0000006fa286976bf35ea17f1f19bc7a,1,1,167719.0
1,00000145d9062eada528bace5fb4864e,1,2,254751.0
2,000003d77bee692d83b7b83fdba60d3d,1,24,0.0
3,00000aea7887eaf96dbd022025e426fd,1,8,0.0
4,0000109c46b9b8922f1ce2aaa684442f,1,1,0.0
5,0000110a6b286c121488a19f7f5c0ad0,1,1,0.0
6,0000119795c2f643a5111de4a0f135c6,1,6,13520.0
7,000012cb18f09736997b05c334799ff6,1,2,0.0
8,0000136b39e3e7892157113d03e1cac8,1,4,0.0
9,00001d108011435a6bc742400a8e6abd,1,6,0.0
10,00001e2c535a8954e54f683f13b80d13,1,2,0.0
11,000022386433b9eff82501bd0abd1947,1,5,0.0
12,0000227f85392306dd340588be1dcb21,1,1,0.0
13,0000250d155f14a70b5846e2b270acc1,1,27,0.0
14,000028d95113207e2b0f0c8655f583fa,1,72,1215091.0
15,00002a40cd98835de5e9e914c22a856e,1,76,0.0
16,00002bd07d6b3b58bebca61c826e4ae2,1,1,20356.0
17,000030fd940dc6aaeb44fef192d510f8,1,1,0.0
18,000035b0c5185c8a04c28ab15d77ce88,1,1,0.0
19,00003860b39e7913bf7e933daf6461a2,1,2,0.0
20,000041f9180f5943cc698edbf39f6b48,1,2,0.0
21,000042358e68eb5f8da6ee9c1d71d9c1,1,22,0.0
22,0000454295e7d5ab34fe7178f325e8a2,1,33,1194472.0
23,000048354fb2ab21b359dd087cb52837,2,3,0.0
24,00004843e08b77c5dfa1eec45498335f,1,4,97073.0
25,00004aad9755120fb2ee681e5a96721e,1,6,0.0
26,00004c623476e0b93af5131d49f3733d,1,1,0.0
27,0000501584678eceb0bfb9f1f8383ea8,1,1,0.0
28,000050724049ae4ff691cb57fb28bb48,2,8,0.0
29,0000539f7ac86845366a749e76bdf7c5,1,2,0.0
...,...,...,...,...
5539282,ffff9e6fc42d12b52539be90bdefe026,1,6,0.0
5539283,ffff9f5793cb3ab3d5a04dec962188ba,1,40,86619.0
5539284,ffff9fc6e98538c144c29de333a6b6f0,1,3,0.0
5539285,ffffa1e103ef1775958e4414b0fed16b,1,2,172493.0
5539286,ffffa3c69c7d7e2dafedcd35aacc3ab6,2,65,1128347.0
5539287,ffffa4bdb746b7f59a444e7edc63fe8e,1,9,0.0
5539288,ffffa714f759150785a86310430ebb22,1,1,0.0
5539289,ffffa909961ba7daa4580da86506f711,1,14,0.0
5539290,ffffaf2bbb37d1cf2b5ccb924df52ed9,1,1,0.0
5539291,ffffaf7d3b92a55d38b81fed5213b7f9,1,19,944515.0
5539292,ffffb3512a5e258f7336321c86dc0f77,1,2,0.0
5539293,ffffb7248cd3d35190b6abccd6c0777f,1,72,1994879.0
5539294,ffffbf9064d958a1a50e07f7ed1158e7,1,32,0.0
5539295,ffffc2e8ef1d6217104acb462b7c236b,1,7,0.0
5539296,ffffc6b401a2151076fcecf4f1b9e82b,1,2,0.0
5539297,ffffc85daea74d8d3cdf7c19fed75981,1,3,0.0
5539298,ffffc9ae808b1ce5b8663685cb436b00,1,2,173858.0
5539299,ffffcaabde679b3967001e32f9cb5d1e,1,2,0.0
5539300,ffffcad416c0f83fbb9aca25b72b3ee2,1,2,372563.0
5539301,ffffcba52dd04f524d251f3b97abad38,1,1,320253.0
5539302,ffffd2fa79e2dd236acbef5ed0ceb914,1,2,0.0
5539303,ffffd39845129495d69872cc1dd02d94,1,1,0.0
5539304,ffffdae9cdfb1c66dcd962aa137f21c4,1,6,0.0
5539305,ffffde062e82592dd68401e703be0e8c,1,1,0.0
5539306,ffffe2619d35b06ab951e2580a65ae04,1,11,0.0
5539307,ffffe316219467b3b5839753abb2c6c4,1,1,0.0
5539308,fffff41c4e0fbcb699e3a8f4bbb006d8,1,1,0.0
5539309,fffff85c8cf15662cb71396404bad007,1,1,0.0
5539310,fffff864dc905957c50562b8a0157c66,1,1,0.0
5539311,fffff8cacfefe827472a8d841fcb45b5,1,7,0.0

In [20]:
df = pd.merge(train.head(n = 500)[['id','CustomerID']],customer_info, on = 'CustomerID', how = 'left')
# ㄗ平均使用多少個不同裝置？
# 使用此程式的消費者平均使用多少個不同程式？
# 使用此程式的消費者平均花多少時間在他所用過的程式上？
df = df.drop_duplicates('CustomerID')
df = df.groupby('id').mean().add_prefix('mean-').reset_index()
df

,id,mean-num_device_user_used,mean-num_computer_program_user_used,mean-spent_time_on_programe_in_sec
0,0000e2398b12121a85166fed5fe2a3da,1.000000,8.333333,5.181547e+05
1,0001fe8dce14ce099aa6ca8ea5026ea7,1.055556,93.666667,2.397207e+05
2,00027f50019000accc492e5684efc818,1.000000,6363.333333,1.508605e+09

ValueError: not enough values to unpack (expected 2, got 0)

In [16]:
df.groupby('id').mean()

,num_device_user_used,num_computer_program_user_used,spent_time_on_programe_in_sec
id,,,
0000e2398b12121a85166fed5fe2a3da,1.000000,8.333333,5.181547e+05
0001fe8dce14ce099aa6ca8ea5026ea7,1.055556,93.666667,2.397207e+05
00027f50019000accc492e5684efc818,1.000000,6363.333333,1.508605e+09